@import "../../styles/variables.scss";


.Player {
  border: 2px solid black;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  table: {
    margin-left: auto;
    margin-right: auto;
  }
  .dndClass {
    width: 3em;
    &.barbarian {
      fill: darkred;
    }
    &.druid {
      fill: green;
    }
    &.fighter {
      fill: navy;
    }
    &.paladin {
      fill: goldenrod;
    }
    &.ranger {
      fill: darkolivegreen;
    }
    &.wizard {
      fill: purple;
    }
  }
  .conditions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background-color: darken($background, 5%);
  }
  button:not(.nostyle){
    background-color: #2f2f2f;
      color: #E8DCB8;
      display: inline-block;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      padding: 13px 14px;
      text-decoration: none;
      border: none;
    }
  button:hover:not(.nostyle) {
    background-color: #b69e58;
  }
}

@media screen 
and (min-width: 1024px) {
  .Player {
    height: 20em;
    font-size: 20px;
    width: 33%;
  }
}