@import "styles/variables.scss";

.App {
  background-color: $background;
  font-size: calc(10px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay-inactive {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 2;
}

.overlay-active {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  transition: 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

path, g, svg {
  pointer-events: none;
}

input {
  height: auto;
  margin: 0rem 2rem;
  font-size: 1.5rem;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin: 0 0;
}