.combatPlayer {
  display: flex;
  border: 2px solid black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .dndClass {
    width: 10vw;
    margin-left: 10px;
  }
}

.combatPlayer #health {
  text-align: center;
}

.combatPlayer #dexterity {
  margin-right: 10px;
}

.editHP {
  background-color: #2f2f2f;
  color: #E8DCB8;
  text-align: center;
  padding: 0.1em;
  font-size: 20px;
  height: 28px;
  font-variation-settings: 'wght' 600;
  width: 100%;
}

.closeBtn {
  background-color: #2f2f2f;
  color: #E8DCB8;
  text-align: center;
  font-variation-settings: 'wght' 600;
  scale: 2;
  margin-left: 30px;
}

.newHP {
  width: 100%;
  font-size: 14px;
  height: 24px;
  margin-top: 5px;
}