.addList {
  display: none;
}

.addBtn {
  background-color: #2f2f2f;
  color: #E8DCB8;
  text-align: center;
  padding: 0.1em;
  font-size: 2rem;
  font-variation-settings: 'wght' 600;
  width: 100%;
}

.forms {
  display: flex;
  flex-direction: row;
}

.rollInitiate {
  background-color: #2f2f2f;
  color: #E8DCB8;
  text-align: center;
  padding: 0.1em;
  font-size: 2rem;
  font-variation-settings: 'wght' 600;
  width: 100%;
}