.combatPlayer {
  display: flex;
  border: 2px solid black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .dndClass {
    width: 10vw;
    margin-left: 10px;
  }
}

.combatPlayer #health {
  text-align: center;
}

.combatPlayer #dexterity {
  margin-right: 10px;
}

.middle {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;

  .editHP {
    background-color: #2f2f2f;
    color: #E8DCB8;
    text-align: center;
    padding: 0.1em;
    font-size: 20px;
    height: 28px;
    font-variation-settings: 'wght' 600;
    width: 70%;
    align-self: center;
  }
    
  .newHP {
    width: 70%;
    font-size: 14px;
    height: 24px; 
  }
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  .closeBtn {
    background-color: red;
    color: #E8DCB8;
    text-align: center;
    font-variation-settings: 'wght' 600;
    font-size: 24px;
  }
}