.combatPlayer {
  display: flex;
  border: 2px solid black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .dndClass {
    width: 10vw;
    margin-left: 10px;
  }
}

.combatPlayer #health {
  text-align: center;
}

.combatPlayer #dexterity {
  margin-right: 10px;
}
