.container {
  display: none;
  
}
.displayText {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.displayText textarea {
  height: 100px;
  width: 200px;
}

textarea {
  resize: none;
  font-size: 20px;
  width: 300px
}

.dices {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.rollingDice {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.titleDice {
  display: flex;
  justify-content: center;
}

.displayText .history {
  display: none;
}

.diceBtn {
  background-color: #2f2f2f;
  color: #E8DCB8;
  text-align: center;
  padding: 0.1em;
  font-size: 2rem;
  font-variation-settings: 'wght' 600;
  width: 100%;
}

.dices button {
  background-color: #2f2f2f;
  color: #E8DCB8;
  text-align: center;
  font-variation-settings: 'wght' 600;
  font-size: 24px;
}

.rollingDice button {
  background-color: #2f2f2f;
  color: #E8DCB8;
  text-align: center;
  font-variation-settings: 'wght' 600;
  font-size: 24px;
}

.resultBar {
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 24px;
  height: 30px;
  margin-bottom: 10px;
  resize: none;
}

.modifier {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modifier input {
  width: 50px;
}

.diceCollector {
  font-size: 36px;
  resize: none;
}
