.modal-main {
  position:fixed;
  background: #E8DCB8;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) scale(1);
  transition: 200ms ease-in-out;
  z-index: 3;
  border-radius: 5px;
}

.content {
  text-align: center;
}

.content ul {
  list-style: none;
  align-items: center;
  padding-left: 0;
}

.content li {
  padding: 1rem 1rem;
}

#senses {
padding: 0rem 1rem;
}

.monster-list {
  columns: 2;
}