.category-group {
  display: flex;
  justify-content: center;
}

.table-category {
  background-color: #2f2f2f;
  color: #E8DCB8;
  text-align: center;
  padding: 0.1em;
  font-size: 2rem;
  font-variation-settings: "wght" 600;
  flex: 1;
}

.table-rows {
  display: flex;
  justify-content: center;
  list-style-position: inside;
  flex-direction: column;
}

.roll {
  width: 100%;
}

.table-length {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
}

#roll-length {
  height: auto;
  margin: 0rem 2rem;
  max-width: 70px;
  font-size: 1.5rem;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin: 0 0;
}