
.navbar {
  width: 100vw;
  font-size: 20px;
  background-color: #2f2f2f;
  color: #E8DCB8;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #party-name {
    width: 30vw;
  }

  nav {
    ul {
      padding: none;
      li {
        display: inline;
        button {
          background-color: #2f2f2f;
            color: #E8DCB8;
            display: inline-block;
            font-weight: bold;
            cursor: pointer;
            padding: 13px 14px;
            text-decoration: none;
            border: none;
          }
        button:hover {
          background-color: #b69e58;
        }
      }
    }
  }
}