
div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin: 0 auto;

  #logo_img{
    width: 3rem;
}
h1 {
  font-size: 1.1rem
}
}

ul {
  padding: none;
  li {
    display: inline;
    button {
        background-color:#DF0000;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        padding:13px 14px;
        text-decoration:none;
        border: none;
      }
    button:hover {
      background-color: #7c0000;
    }
  }
}